# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
build/
dist/

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
*.key

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp

# Generated coverage files
coverage/

# Lint and formatting
.eslintcache
.prettiercache

# React Native
.expo/
*.expo
